fastapi==0.139.0
uvicorn==0.50.0
pydantic==2.13.4
python-multipart==0.0.6
torch
torchvision
torchaudio
openai-whisper
piper-tts
julius
num2words
inflect
git+https://github.com/facebookresearch/seamless_communication.git
